{{> partials/head }}

    <body>
        <div class="main">
            <div class="container">
            {{> partials/header }}
            {{> partials/main }}
            </div>
        </div>
        {{> partials/footer }}
    </body>
</html>