{{> partials/head }}

    <body>
        <div class="main">
            <div class="container">
            {{> partials/header }}
            {{> partials/main }}
            </div>
        </div>

        {{# solutions }}
        {{> partials/items-list }}
        {{/ solutions }}

        {{# advantages }}
        {{> partials/items-list }}
        {{/ advantages }}

        {{> partials/learn-more }}
        
        {{# footer }}
        {{> partials/footer }}
        {{/ footer }}

        <script src="/js/main.js"></script>
    </body>
</html>