{{> partials/head }}

    <body>
        <div class="main">
            <div class="container">
            {{> partials/header }}
            {{> partials/main }}
            </div>
        </div>

        {{# services }}
        {{> partials/services }}
        {{/ services }}

        {{# solutions }}
        {{> partials/items-list }}
        {{/ solutions }}

        {{# industries }}
        {{> partials/industries }}
        {{/ industries }}

        {{# technologies }}
        {{> partials/technologies }}
        {{/ technologies }}

        {{# rating }}
        {{> partials/rating }}
        {{/ rating }}

        {{# advantages }}
        {{> partials/items-list }}
        {{/ advantages }}

        {{> partials/learn-more }}
        
        {{# footer }}
        {{> partials/footer }}
        {{/ footer }}

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/circles.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>