<div class="overlay"></div>
<div class="modal">
    <a href="javascript:void(0);" class="close"></a>

    <form class="contacts" name="contacts" method="POST" action="/contacts">
        <h2 class="contacts__title small-title sub-title--dark">Contact us</h2>
        <div class="contacts__item row">
            <div class="col-sm-12">
                <label class="contacts__label contacts__label">Name</label>
                <input
                    type="text"
                    name="name"
                    class="contacts__input col-sm-12"
                    data-validation="length alphanumeric"
                    data-validation-length="min4"
                    data-validation-allowing="-_ "
                />
            </div>
        </div>

        <div class="contacts__item row">
            <div class="col-sm-12">
                <label class="contacts__label">Email</label>
                <input
                    type="text"
                    name="email"
                    class="contacts__input col-sm-12"
                    data-validation="email"
                />
            </div>
        </div>

        <div class="contacts__item row">
            <div class="col-sm-12">
                <label class="contacts__label">Message</label>
                <textarea
                    name="message"
                    class="contacts__input contacts__input--textarea col-sm-12"
                    data-validation="alphanumeric"
                    data-validation-allowing="-_"
                ></textarea>
            </div>
        </div>

        <div class="contacts__item row">
            <div class="col-sm-12">
                <input type="submit" class="btn btn--main contacts__btn" value="Send" />
            </div>
        </div>
    </form>
</div>