<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                {{# menu}}
                <div class="footer-nav col-sm-6 col-lg-3">
                    <div class="footer__category">{{title}}</div>
                    <ul class="footer-nav__list">
                        {{# items}}
                        <li class="footer-nav__list-item">
                            <a href="/" class="link footer-nav__link">{{.}}</a>
                        </li>
                        {{/ items}}
                    </ul>
                </div>
                {{/ menu}}

                <div class="footer-nav footer-nav--mod col-sm-6 col-lg-3">
                    <div class="footer-address">
                        <div class="footer__category">United States</div>
                        <div class="footer__item footer__item--phone">720 207 2820</div>
                        <div class="footer__item">Time Square 20-35</div>
                    </div>

                    <div class="footer-address">
                        <div class="footer__category">E-mail</div>
                        <div class="footer__item">
                            <a href="" class="footer__item footer__item--link">hello@Jsheads.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <p class="copy col-sm-12 col-md-6">2018 &copy; JSHeads All rights reserved</p>

                <div class="subfooter__links col-sm-12 col-md-6">
                    <a href="" class="link subfooter__link-item"></a>
                </div>
            </div>
        </div>
    </div>
</footer>