<div class="learn-more-wrapper">
    <div class="container">
        <div class="learn-more-title row">
            <h2 class="sub-title sub-title--white sub-title--no-marg col-sm-12">Want to learn more?</h2>
            <h3 class="sub-title--h3 sub-title--white col-sm-12">Just ask anything</h3>
        </div>
        <div class="row">
            <div class="button-block center">
                <a href="javascript:void(0);" class="btn btn--main contact-us-btn">Contact us</a>
            </div>
        </div>
    </div>
</div>