<div id="company" class="main-content">
    <div class="row main-title-block">
        <h1 class="main-title col-sm-12 col-md-7 center">Leading Your Project <span class="main-title--color">Safely</span></h1>
    </div>  
    <div class="row">
        <div class="button-block center">
            <a href="javascript:void(0)" class="btn btn--main">Get a quote</a>
        </div>
    </div>
</div>