@font-face {
    font-family: 'BrandonGrotesque Medium', Arial, Helvetica, sans-serif;
    src: url(../fonts/brandon_med.otf);
}

@font-face {
    font-family: 'BrandonGrotesque Black', Arial, Helvetica, sans-serif;
    src: url(../fonts/brandon_blk.otf);
}

@font-face {
    font-family: 'BrandonGrotesque Bold', Arial, Helvetica, sans-serif;
    src: url(../fonts/brandon_bld.otf);
}