* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'BrandonGrotesque Medium';
  font-size: 16px;
  background-color: @background;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.container {
  height: auto;
  max-width: 1110px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
}

.title {
  font-family: 'BrandonGrotesque Medium';
  text-transform: uppercase;
  text-align: center;
}

.main-title {
  .title;
  
  font-size: 80px;
  line-height: 95px;
  color: @subtitle;

  &--color {
    font-family: 'BrandonGrotesque Bold';
    color: @color-subheader-3;
  }

  &-block {
    margin-bottom: 80px;
  }
}

.small-title {
  .title;

  font-size: 30px;
}

.sub-title {
  margin-bottom: 40px; 
  .title;
  font-size: 45px;

  &--white {
    color: @subtitle;
  }

  &--dark {
    color: @color-subheader-1;
  }

  &--h3 {
    .title;

    font-family: 'Arial';
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    color: @subheader;
  }

  &--no-marg {
    margin-bottom: 0;
  }

  @media screen and (max-width: @mobile) {
    text-align: left;
  }
}

.center {
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-height: 50px;
  padding: 14px 76px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &--main {
    .gradient(right, @btn-start, @btn-stop);
    color: @btn-text;
  }
}

/*-- HEADER --*/
.header {
  padding-top: 40px;
  align-items: center;

  &-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__item {
      margin-left: 25px;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: @subtitle;

      &--contacts {
        padding: 14px 24px 15px;
        border: 2px solid @btn-start;
        border-radius: 5px;
        color: @color-subheader-3;
      }
    }
  }
}
/*-- END HEADER --*/

/*-- MAIN --*/
.main {
  background: url(../img/main-bg.jpg) center 0 no-repeat;
  background-size: cover;

  &-content {
    padding: 115px 0 180px;

  }
}
/*-- END MAIN --*/

/*-- ITEMS LIST --*/
.items-list {
  &-wrapper {
    padding: 65px 0 125px;
    .gradient(left, @background-start, @background-stop);
  }

  &-elem {
    margin-bottom: 30px;

    &__icon {
      margin-right: 15px;
    }

    &__title {
      margin-bottom: 10px;
      font-family: 'BrandonGrotesque Bold';
      font-size: 18px;
      text-transform: uppercase;
      color: @text-header;
    }

    &__description {
      font-family: 'Open Sans';
      font-size: 16px;
      color: @text;
    }
  }
}
/*-- END ITEMS LIST --*/

/*-- SERVICES --*/
.services {
  &-wrapper {
    padding: 50px 45px;
  }

  &-elem {
    margin-bottom: 25px;

    &__link {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 35px 30px;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-decoration: none;

      &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

        .services-elem__title {
          color: @color-subheader-3;
        }

        .services-elem__link-block {
          display: block;
        }
      }
    }

    &__title {
      margin-bottom: 15px;
      font-size: 20px;
      text-transform: uppercase;
      color: @color-subheader-1;
    }

    &__description {
      font-family: 'Open Sans';
      font-size: 16px;
      color: @text-service;
    }

    &__link-block {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 80px;
      width: 80px;
      background-color: @border-color;
      transform: translate(50%, 50%) rotate(45deg);
    }
  }
}
/*-- END SERVICES --*/

/*-- INDUSTRIES --*/
.industries {
  &-wrapper {
    padding: 60px 50px;
  }

  &-elem {
    margin-bottom: 25px;

    &__link {
      display: block;
      position: relative;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__image {
      display: block;
      height: 100%;
      width: 100%;
      max-width: 100%;
    }

    &__title {
      position: absolute;
      bottom: 25px;
      padding: 0 30px;
      font-size: 28px;
      color: @subtitle;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
/*-- END INDUSTRIES --*/

/*-- TECHNOLOGIES --*/
.technologies {
  &-wrapper {
    padding: 40px 0 50px;
    background: url(../img/tech-bg.jpg) center 0 no-repeat;
    background-size: cover;
  }

  &-group {
    margin-bottom: 35px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &-list {
    width: 100%;
    padding: 60px 65px 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;

    &__item {
      margin: 0 10px 25px;
    }
  }
}
/*-- END TECHNOLOGIES --*/

/*-- RATING --*/
.rating {
  &-wrapper {
    padding: 45px 0;
    background-color: @background-rating;

    .circles {
      &-wrp > svg {
        border-radius: 50%;
        background-color: @background-start;
      }
      
      &-text {
        color: @subtitle;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &-list {
    list-style: none;
  }

  &-elem {
    margin-bottom: 10px;
    
    &__title {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      color: @color-subheader-1;
    }
  }
}
/*-- END RATING --*/

/*-- LEARN MORE --*/
.learn-more {
  &-wrapper {
    padding: 110px 0 75px;
    background: url(../img/more-bg.jpg) center 0 no-repeat;
    background-size: cover;
  }

  &-title {
    margin-bottom: 45px;
  }
}
/*-- END LEARN MORE --*/

/*-- FOOTER --*/
.footer {
  border-top: 4px solid @border-color;
  background-color: @footer-bg;

  &__category {
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: @color-subheader-2;
  }

  &-nav {
    padding-top: 75px;

    &--mod {
      background-color: @subfooter-bg;
    }

    &__list {
      &-item {
        margin-bottom: 5px;
        list-style: none;
      }
    }

    &__link {
      font-family: 'BrandonGrotesque Medium';
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: @footer-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-address {
    margin-bottom: 20px;
  }

  &__item {
    font-family: 'BrandonGrotesque Medium';
    font-size: 14px;
    text-transform: uppercase;
    color: @footer-link;
    
    &--phone {
      font-size: 24px;
      margin-bottom: 5px;
    }

    &--link {
      font-size: 16px;
    }
  }
}

.subfooter {
  padding: 12px 0 14px;
  background-color: @subfooter-bg;

  .copy {
    font-family: 'BrandonGrotesque Medium';
    font-size: 14px;
    text-transform: uppercase;
    color: @footer-copy;
  }
}
/*-- END FOOTER --*/