@mobile: 575px;
@tablet: 767px;

@background: #fff;

@background-start: #415663;
@background-stop: #447597;

@color-subheader-1: #415663;
@color-subheader-2: #fff;
@color-subheader-3: #fdc739;

@subtitle: #fff;

@btn-start: @color-subheader-3;
@btn-stop: #fff04a;

@btn-text: #161f25;

@text-header: #bbebff;
@text: #b8dcf2;

@subheader: #e5f5ff;

@border-color: #fdc739;
@footer-bg: #304049;
@subfooter-bg: #2a3840;
@footer-link: #7393a6;
@footer-copy: #596e7a;